[Desktop Entry]
Name=Snake Store
Comment=Simple Software Application Package Installer
Exec=snake-store
Icon=software-store
NoDisplay=false
Categories=System;
Type=Application
