Source: snake-store
Section: admin
Priority: optional
Maintainer: Harvey186 <harvey186@hotmail.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.16),
               ninja-build,
               qt6-base-dev,
               qt6-base-dev-tools,
               qt6-tools-dev,
               qt6-tools-dev-tools
Standards-Version: 3.9.8
Vcs-Git: https://github.com/LeOS-GSI/snake-store
Homepage: http://SnakeOS.de

Package: snake-store
Architecture: any
Depends: aptitude,
         snake-store-pkglist (>= 17.4),
         xdg-utils,
         sudo | pkexec | gksu,
         socat,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: flatpak (<< 1.0) | xdg-desktop-portal-gtk,
         flatpak (>= 0.8.9) [amd64]
Description: Package installation tool for SnakeOS
 Snake Store is a graphical utility that allows users to easily
 install and manage software packages on SnakeOS. It provides a user-friendly
 interface for:
  * Installing None US applications from various repositories
  * Installing software from Debian Backports
  * Installing and managing Flatpak applications
  * Simplifying package management without requiring command line knowledge
